@charset "utf-8";
@import url('member.css');
@import url('module.css');

/* 
 * board CSS Document
 */
 
 /* bbsList */
.bbsList th,
.bbsList td{padding:15px 10px; border-bottom:1px solid #eaecf1; text-align:center;}
.bbsList thead th{padding:15px 10px; background:#f9fafb; border-top:1px dotted #8c92a3; border-bottom:1px solid #d2d7dc; font-weight:300; color:#222;}
.bbsList thead tr:first-child th{border-top:2px solid #505c78;}
.bbsList td{color:#666; word-break:break-all;}
.bbsList tr.active td{background:#f0f6f8; color:#333 !important;}
.bbsList td[data-table="subject"] a{display:inline-block;}
.bbsList td[data-table="subject"]{text-align:left;}
.bbsList td[data-table="subject"] i{display:inline-block; margin-left:10px; font-size:13px; color:#ce6c0c;}
.bbsList td[data-table="subject"] .new{display:inline-block; margin-right:5px; width:25px; height:11px; background:url(../images/board/icon_new.png) no-repeat 0 0; text-indent:100%; overflow:hidden; white-space:nowrap;}
.bbsList td[data-table="number"] .notice{display:block; position:relative; width:25px; height:25px; margin:0 auto; background:#365ec3; border-radius:50%; text-indent:100%; overflow:hidden; white-space:nowrap;}
.bbsList td[data-table="number"] .notice:before{content:'공'; display:block; color:#fff; text-indent:0; line-height:23px;}
.bbsList .none{text-align:center;}
.bbsList .reply{display:inline-block; position:relative; padding:0 7px; margin-right:5px; background:#fff; border-radius:3px; border:1px solid #365ec3; font-size:13px; color:#365ec3;}
.bbsList .reply:before,
.bbsList .reply:after{content:''; display:none; position:absolute; left:-10px; background:#41464e;}
.bbsList .reply:before{top:0px; width:1px; height:10px;}
.bbsList .reply:after{top:10px; width:10px; height:1px;}
.bbsList + .pagination{border-top-width:0px;}
html[lang="en"] .bbsList td[data-table="number"] .notice:before,
html[lang="ja"] .bbsList td[data-table="number"] .notice:before,
html[lang="zh"] .bbsList td[data-table="number"] .notice:before,
html[lang="th"] .bbsList td[data-table="number"] .notice:before,
html[lang="ru"] .bbsList td[data-table="number"] .notice:before{content:'N';}

ul.bbsList{border-top:2px solid #505c78;}
ul.bbsList li{position:relative; padding:35px 15px; border-bottom:1px solid #eaecf1;}
ul.bbsList li > *{display:block;}
ul.bbsList li .date{position:absolute; left:15px; top:50%; width:80px; font-size:18px; color:#999; text-align:center; font-weight:400; transform:translateY(-50%);}
ul.bbsList li .date i{display:block; font-size:1.6rem; color:#444; line-height:1em;}
ul.bbsList li .date:before{content:''; display:block; position:absolute; right:-15px; top:50%; width:1px; height:30px; margin-top:-15px; background:#e5e5e5;}
ul.bbsList li .subject{padding-left:125px; padding-right:100px; font-size:16px; letter-spacing:-1px; font-weight:300;}
ul.bbsList li .subject:hover,
ul.bbsList li .subject:focus{color:#f15b6d;}
ul.bbsList li .more{overflow:hidden; position:absolute; right:15px; top:50%; width:36px; height:36px; margin-top:-16px; background:#fff; border:1px solid #ddd; transition:all 0.3s ease 0s;}
ul.bbsList li .more em{display:none; padding-left:10px; color:#f15b6d; line-height:36px; font-size:13px;}
ul.bbsList li .more:before{content:''; display:block; position:absolute; left:50%; top:50%; width:14px; height:14px; margin:-7px 0 0 -7px; background:url(../images/board/icon_more.png) no-repeat 0 0;}
ul.bbsList li .more.active,
ul.bbsList li .more:hover,
ul.bbsList li .more:focus{width:110px; border-color:#f15b6d;}
ul.bbsList li .more.active em,
ul.bbsList li .more:hover em,
ul.bbsList li .more:focus em{display:block;}
ul.bbsList li .more.active:before,
ul.bbsList li .more:hover:before,
ul.bbsList li .more:focus:before{background-position:0 -14px; right:10px; left:auto; margin-left:0px;}
ul.bbsList li .notice{display:inline-block; width:25px; height:25px; margin-right:10px; margin-top:-5px; background:#365ec3; border-radius:50%; text-align:center; vertical-align:middle; text-indent:100%; overflow:hidden; white-space:nowrap;}
ul.bbsList li .notice:before{content:'공'; display:block; color:#fff; text-indent:0; line-height:23px;}
html[lang="en"] ul.bbsList li .notice:before,
html[lang="ja"] ul.bbsList li .notice:before,
html[lang="zh"] ul.bbsList li .notice:before,
html[lang="th"] ul.bbsList li .notice:before,
html[lang="ru"] ul.bbsList li .notice:before{content:'N';}

/* photoList */
.photoList{padding-bottom:15px;}
.photoList:after{content:''; display:block; clear:both;}
.photoList > li{float:left; width:32%; margin-top:20px;}
.photoList > li:nth-child(3n+2){margin:20px 2% 0;}
.photoList > li a{display:block; transition:all 0.3s ease 0s;}
.photoList > li a > *{display:block;}
.photoList > li a > *:not(.img){padding-left:15px; padding-right:15px; background:#fff;}
.photoList > li .img{overflow:hidden; position:relative; width:100%; padding-top:55%; background:#fff url(../images/board/no_image.gif) no-repeat 50% 50%; text-align:center; transition:opacity 0.5s ease-out 0s;}
.photoList > li .img img{position:absolute; top:50%; left:0; width:100%; transform:translateY(-50%); transition:all 0.5s ease-out 0s;}
.photoList > li .img i{display:block; position:absolute; top:0px; left:50%; width:100%; height:100%; background-repeat:no-repeat; background-position:50% 50%; background-size:cover; transform:translateX(-50%); transition:all 0.5s ease-out 0s;}
.photoList > li a > em{opacity:1; min-height:27px; line-height:27px; padding-top:20px; padding-bottom:5px; border:1px solid #eaecf1; border-width:0px 1px; font-size:15px; letter-spacing:-1px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.photoList > li a:hover .img,
.photoList > li a:focus .img{opacity:0.7;}
.photoList > li .write{position:relative; min-height:25px; padding-top:0; padding-bottom:15px; border:1px solid #eaecf1; border-top-width:0px; color:#999;}
.photoList > li .write em{display:block;}
.photoList > li .write i{display:none; line-height:25px; padding-left:85px; text-align:right;}
.photoList .none_data{float:none; width:100%; box-sizing:border-box; padding-top:40px; border-top:1px solid #eaecf1; border-bottom-width:0px; text-align:center;}

/* blog style */
.blogList{border-top:2px solid #505c78;}
.blogList li{padding:20px 5px; border-bottom:1px solid #eaecf1; transition:all 0.3s ease 0s;}
.blogList li:after{content:''; display:block; clear:both;}
.blogList li > a{display:block; letter-spacing:-0.5px;}
.blogList li em{display:inline-block; color:#333; font-weight:400; font-size:18px;}
.blogList li p{margin-top:10px; line-height:1.4em; letter-spacing:-1px; font-size:16px; word-break:keep-all; font-weight:300;}
.blogList li i{display:block; margin-top:10px; font-size:13px;}
.blogList li:hover,
.blogList li:focus{background:#f0f6f8;}
.blogList li .img{float:left; display:block; overflow:hidden; width:150px; height:120px; text-align:center;}
.blogList li .img img{object-fit:cover; height:100%; margin-left:-100%; margin-right:-100%;}
.blogList li .img ~ em{margin-left:25px;}
.blogList li .img ~ p,
.blogList li .img ~ i{margin-left:175px;}

/* bbsView */
.bbsTitle{padding:15px 10px !important; margin:0px !important; border-top:2px solid #505c78; border-bottom:1px dotted #8c92a3; font-size:18px !important; font-weight:300 !important; color:#222 !important;}
.bbsTitle:before{display:none !important;}
.bbsTitle em{display:inline-block; margin-right:5px; color:#148f77;}
.bbsTitle .reply{display:inline-block; position:relative; padding:2px 7px; margin-right:5px; margin-bottom:3px; background:#41464e; border-radius:3px; font-size:13px; color:#fff; vertical-align:middle;}
.bbsView{border-top:1px solid #505c78; border-collapse:inherit; table-layout:fixed;}
.bbsTitle ~ .bbsView{border-top-width:0px;}
.bbsView > tbody > tr > th,
.bbsView > tbody > tr > td,
.bbsView > thead > tr > th{padding:15px 10px; border-bottom:1px solid #eaecf1;}
.bbsView > tbody > tr > th{background:#f9fafb; text-align:left; font-weight:500; letter-spacing:-1px;}
.bbsView > tbody > tr > td{color:#666; word-break:break-all;}
.bbsView .conts table,
.bbsView .conts td,
.bbsView .conts th{border:1px solid black}
.bbsView th[data-view="file"]{border-top:1px solid #eaecf1;}
.bbsView th[data-view="file"] + td{padding-left:25px; border-top:1px solid #eaecf1;}
.bbsView th[data-view="file"],
.bbsView th[data-view="date"],
.bbsView th[data-view="count"]{padding-left:25px;}
.bbsView td.conts{padding:30px 20px; border:0px;}
.bbsView div.conts{min-height:350px;}
.bbsView .conts .img{padding-bottom:30px; text-align:center;}
.bbsView .conts .img img,
.bbsView .conts img{max-width:100%; height:auto !important;}
.bbsView textarea{resize:none; height:150px;}
.bbsView td.date > span{margin-right:10px;}
.bbsView td.category div{margin-top:3px;}
.bbsView td.file > span{display:block; margin:2px 0;}
.bbsView td.days input{width:110px; background:#e0e9f7; border-color:#9fb3d4;}
.bbsView td.days span{display:inline-block; margin-right:5px;}
.bbsView td.days span:after{content:','; display:inline-block;}
.bbsView td.days span:last-child:after{display:none;}
.bbsView.page{margin-top:20px;}
.bbsView.page th,
.bbsView.page td{padding:15px 15px 15px 25px;}
.bbsView.page tr:first-child th,
.bbsView.page tr:first-child td{border-top:1px solid #eaecf1; border-bottom:1px dotted #eaecf1;}
.bbsView div.conts table{margin-left:auto !important; margin-right:auto !important;}
.bbsView .button{height:33px; line-height:31px; font-size:0.9rem;}
.bbsView .tip{font-size:0.8rem; word-break:keep-all;}
.bbsView .spam > span{display:inline-block; height:33px; line-height:33px; box-sizing:border-box; padding:0 10px; margin-right:10px; background:#222; color:#fff; letter-spacing:3px; font-size:0.9rem;}
.bbsView .spam > *{vertical-align:middle;}

*[class^="bbs"] ~ .btn_area{padding-top:50px;}

.bbsView.dl{border-top:1px solid #505c78;}
.bbsTitle ~ .bbsView.dl{border-top-width:0px;}
.bbsView dl dt,
.bbsView dl dd{box-sizing:border-box; padding:15px 15px; border-bottom:1px solid #eaecf1; word-break:keep-all;}
.bbsView dl dt{width:20%; background:#f9fafb; text-align:left; font-weight:500; letter-spacing:-1px; vertical-align:middle;}
.bbsView dl dt span{display:inline-block; vertical-align:middle;}
.bbsView dl dd{width:80%;}
.bbsView dl dd input[type="text"],
.bbsView dl dd input[type="password"],
.bbsView dl dd input[type="file"],
.bbsView dl dd textarea,
.bbsView dl dd select{width:100%;}
.bbsView dl dd input[type="file"]{font-size:14px;}
.bbsView dl dd .designFile input[type="text"]{padding-right:110px;}
.bbsView dl dd .designFile .button{position:absolute; top:0px; right:0px;}
.bbsView dl dd .designFile.mob input[type="text"]{padding-right:0px;}
.bbsView dl dd .designFile.mob input[type="file"]{width:100%;}
.bbsView dl:last-child dt,
.bbsView dl:last-child dd{border-bottom:1px solid #dcdee2;}
.bbsView dl.col02 dt{width:20%;}
.bbsView dl.col02 dd{width:30%; vertical-align:middle;}
.bbsView dl.col02 dt:nth-of-type(2){border-left-width:0px;}
.bbsView dl.colspan{position:relative;}
.bbsView dl.colspan dt{height:54px; vertical-align:top;}
.bbsView dl.colspan dt:after{content:''; display:inline-block; height:100%; vertical-align:middle;}
.bbsView dl.colspan dd{position:absolute;/*  width:960px; */}

/* th,td tr에 여러개 들어갈 경우 */
.bbsView.col tr td:not(:last-child){border-right-width:0px !important;}

/* 댓글 */
.comment_area{padding:30px 0 50px;}
.comment_area h4{margin-bottom:15px; font-size:16px !important; color:#333; font-weight:400;}
.comment_area h4 > span{margin-left:5px;}
.comment_area .write{border:1px solid #dedede;}
.comment_area .write .input{padding:7px 20px; border-bottom:1px solid #e1e1e1;}
.comment_area .write .send{position:relative; border-top:1px solid #e1e1e1; text-align:right;}
.comment_area .write textarea{width:100%; height:130px; border:0px; padding:20px;}
.comment_area .write label{margin-right:10px; letter-spacing:-1px; font-size:13px;}
.comment_area .write input[type="text"]{width:180px;}
.comment_area .write input[type="password"]{width:220px;}
.comment_area .write .input:after{content:''; display:block; clear:both;}
.comment_area .write .input > span{float:right;}
.comment_area .write .input > span:first-child{float:left;}
.comment_area .write .btn_submit,
.comment_area .write input[type="submit"]{display:inline-block; width:75px; height:50px; line-height:47px; margin:0 -1px -1px 0; box-sizing:border-box; background:#274b9f; border:0px; color:#fff; text-align:center;}
.comment_area .list{padding-top:30px;}
.comment_area .list ul > li{position:relative; min-height:90px; padding:15px 0px; border-bottom:1px solid #e1e1e1; letter-spacing:-0.5px;}
.comment_area .list ul > li:first-child{border-top:1px solid #e1e1e1;}
.comment_area .list ul > li > p{margin-top:15px; line-height:1.4em; word-break:keep-all;}
.comment_area .list .name{font-weight:600;}
.comment_area .list .btn{position:absolute; right:0px; top:10px;}
.comment_area .list .btn .date{font-size:13px;}
.comment_area .list .btn > *{vertical-align:middle;}
.comment_area .list .btn a[class^="btn_"]{display:inline-block; width:24px; height:24px; margin-left:5px; border:1px solid #c3c3c3; text-indent:100%; overflow:hidden; white-space:nowrap;}
.comment_area .list .btn_reply{background:url(../images/board/btn_comment.png) no-repeat 50% 50%;}
.comment_area .list .btn_del{background:url(../images/board/btn_comment_del.png) no-repeat 50% 50%;}
.comment_area .list .reply_area{margin-top:20px; background:#f7f7f7;}
.comment_area .list .reply_area.write .btn_submit,
.comment_area .list .reply_area.write input[type="submit"]{background:#41464e;}
.comment_area .list .reply_area.write textarea{height:80px;}
.comment_area .comment_password{position:absolute; top:0px; left:0px; z-index:5; width:100%; height:100%; background:rgba(255,255,255,0.9); text-align:center;}
.comment_area .comment_password p{padding:20px 0 10px; font-weight:400;}
.comment_area .comment_password .button{height:33px; line-height:31px;}

/* search + button */
.search_bbs{margin-top:20px;}
.search_bbs:after{content:''; display:block; clear:both;}
.search_bbs .search{float:left;}
.search_bbs .search input[type="text"]{width:200px; height:45px;}
.search_bbs .search select{height:45px;}
.search_bbs .search .button{min-width:auto;} 
.search_bbs .btn{float:right;}

.search_bbs .btn.reserve input[data-form-type="datepicker"]{width:125px; padding-right:25px; height:45px; line-height:43px;}
.search_bbs .btn.reserve input[data-form-type="datepicker"] + .ui-datepicker-trigger{margin-left:-25px;}
.search_bbs .btn.reserve span{margin-left:5px;}
.search_bbs .btn.reserve .ui-datepicker-trigger + .button{margin-left:5px;}

/* nodata */
.none_data{padding:20px 10px; border-bottom:1px solid #eaecf1; text-align:center; font-weight:300;}
.none_data.type02{margin-top:30px; padding:40px 10px; border-top:1px dashed #eaecf1; border-bottom:1px dashed #eaecf1; font-size:16px; text-align:center; font-weight:300;}

/* agree */
.box_privacy{margin-bottom:40px;}

/* pagination */
.pagination{margin-top:30px; padding-top:30px; border-top:1px dashed #dadada; text-align:center;}
.pagination > *{display:inline-block; min-width:38px; height:38px; box-sizing:border-box; margin:2px 3px; border:1px solid #ddd; background:#fff; color:#777; text-align:center; vertical-align:top; line-height:36px; transition:border-color 0.3s ease 0s;}
.pagination a[class^="btn_"]{width:38px; background-image:url(../images/board/btn_pagination.png); background-repeat:no-repeat; text-indent:100%; overflow:hidden; white-space:nowrap;}
.pagination a[class^="btn_"]:hover,
.pagination a[class^="btn_"]:focus{background-position-y:-38px;}
.pagination a.btn_prev{background-position-x:-38px;}
.pagination a.btn_next{background-position-x:-76px;}
.pagination a.btn_last{background-position-x:-114px;}
.pagination span{border-color:#365ec3; color:#365ec3;}
.pagination a:not([class^="btn_"]):hover,
.pagination a:not([class^="btn_"]):focus{border-color:#bdc7e0; background:#f3f6fd;}

/* file */
.list_file li{margin-top:4px;}
.list_file li:first-child{margin-top:0px;}
.list_file li > a{display:block; position:relative; padding-left:25px;}
.list_file li > a:before{content:''; display:block; position:absolute; left:0px; top:1px; width:16px; height:16px; background:url(../images/board/icon_file.png) no-repeat 0 0;}
.list_file li > a:hover,
.list_file li > a:focus{color:#2783c7;}

/* faq */
.faqList{margin-top:20px; border-top:2px solid #505c78;}
.faqList dt,
.faqList dd{position:relative; border-bottom:1px solid #eaecf1;}
.faqList dt:before,
.faqList dd:before{display:block; position:absolute; left:20px; top:25px; width:36px; height:34px; line-height:34px; background:#365ec3; border-radius:2px; text-align:center; color:#fff; font-size:20px; font-weight:600;}
.faqList dt:before{content:'Q';}
.faqList dd:before{content:'A'; background-color:#444;}
.faqList dt{padding:30px 20px 30px 66px; font-size:16px;}
.faqList dd{display:none; background:#f9fafb;}
.faqList dd > div{padding:30px 20px 30px 66px;}
.faqList .box_comm{background:#fff;}
.faqList dt a{display:block; padding-right:45px;}
.faqList dt a.on{font-weight:500;}
.faqList dt a:after{content:''; display:block; position:absolute; right:32px; top:50%; width:12px; height:7px; margin-top:-3px; background:url(../images/board/img_faq.png) no-repeat 0 0; transition:all 0.3s ease 0s;}
.faqList dt a:before{content:''; display:block; position:absolute; right:20px; top:50%; width:36px; height:36px; margin-top:-18px; border:1px solid #ddd;}
.faqList dt a.on:after{transform:rotate(180deg);}
.faqList table td{background-color:#fff;}

/* pdf */
.pdfList:after{content:''; display:block; clear:both;}
.pdfList li{float:left;}
.pdfList li .img{display:block; position:absolute; left:25px; top:-20px; width:138px; height:192px; overflow:hidden; box-shadow:1px 1px 2px rgba(0,0,0,0.1); border:1px solid #e0e0e0;}
.pdfList li .img > a{display:block;}
.pdfList li .img img{width:138px; height:192px;}
.pdfList li .img + a{display:block; line-height:1.3em; word-break:keep-all;}
.pdfList li a.btn{display:inline-block; position:relative; min-width:100px; height:33px; line-height:31px; box-sizing:border-box; padding:0 15px; background:#41464e; border:1px solid #25282d; font-size:13px; transition:all 0.3s ease 0s;}
.pdfList li a.btn.pdf{background:#fff; padding-right:30px; color:#444 !important; border-color:#d6d6d6;}
.pdfList li a.btn.pdf:after{content:''; display:block; width:10px; height:10px; background:url(../images/board/icon_down.png) no-repeat 0 0; position:absolute; right:10px; top:50%; margin-top:-5px;}
.pdfList li a.btn.pdf:hover,
.pdfList li a.btn.pdf:focus{background:#505c78; border:1px solid #505c78; color:#fff !important; box-shadow:3px 3px 0 rgba(0,0,0,0.15);}
.pdfList li a.btn.pdf:hover:after,
.pdfList li a.btn.pdf:hover:focus{background-position:0 -10px;}
.pdfList li > div{position:relative; height: 204px; box-sizing:border-box; padding:20px; margin:30px 0px; background:#fff; border:1px solid #eaecf1; transition:all 0.2s ease 0s;}
.pdfList li > div > .img ~ *{margin-left:180px;}
.pdfList li > div:hover,
.pdfList li > div:focus{border:1px solid #505c78; box-shadow:0 3px 10px rgba(0,0,0,0.10), 0 20px 20px rgba(0,0,0,0.05);}
.pdfList li .date{margin:10px 0 20px; font-size:12px; color:#777;}
.pdfList li.none_data{float:none; width:100%; box-sizing:border-box; padding-top:40px; border-top:1px solid #eaecf1; border-bottom-width:0px; text-align:center;}

/* column 게시판 */
.columnList{min-height:700px; margin-top:-3.5em; -webkit-columns:300px 3; -moz-columns:300px 3; columns:300px 3; column-gap:10em;}
.columnList li{-webkit-column-break-inside:avoid; page-break-inside:avoid; break-inside:avoid;}
.columnList li > a{display:inline-block; width:100%; margin:3.5em 0;}
.columnList li .img{display:block; overflow:hidden; height:100%;}
.columnList li .img img{opacity:1; width:100%; transform:scale(1, 1); transition:all 0.7s ease 0s;}
.columnList li > a:hover .img img{opacity:0.7; transform:scale(1.1, 1.1);}
.columnList li p{display:block; height:2.8em; line-height:1.4em; margin-top:20px; display:-webkit-box; overflow:hidden; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; word-break:break-all;}
.columnList li .write{display:block; margin-top:10px; color:#999;}
.columnList li .write em{display:inline-block; margin-right:10px;}
.columnList li .write i{display:none;}

/* video iframe */
.iframe_video{position:relative; padding-bottom:55%;}
.iframe_video iframe{position:absolute; top:0px; left:0px;}

/* 비밀번호확인 */
.secret_area{position:relative; margin:40px 0; text-align:center;}
.secret_area:before{content:''; display:block; width:62px; height:62px; border:3px solid #59626a; border-radius:50%; margin:0 auto 20px;}
.secret_area:after{content:''; display:block; width:20px; height:24px; background:url(../images/board/img_secret.gif) no-repeat 0 0; position:absolute; left:50%; top:23px; margin-left:-10px;}
.secret_area p{margin-bottom:10px; font-weight:300;}
.secret_area input[type="password"]{width:240px; height:45px;}
.secret_area > *{vertical-align:middle;}
.secret_area .button{min-width:80px; height:45px; line-height:43px;}
.secret_area .button:before{height:43px;}

/* design radio */
.designRadio{display:inline-block; margin:2px 0px; vertical-align:middle;}
.designRadio input[type="radio"]{position:absolute; opacity:0;}
.designRadio input[type="radio"] + label{position:relative; min-height:16px; padding-left:20px; padding-bottom:2px; margin-right:10px; cursor:pointer; line-height:1em;}
.designRadio input[type="radio"] + label:before{content:''; display:block; position:absolute; top:0px; left:0px; width:16px; height:16px; background:url(../images/board/sp_radio.png) no-repeat 0 -16px; background-size:16px 48px;}
.designRadio.white input[type="radio"] + label:before{background:url(../images/board/sp_radio_w.png) no-repeat 0 -16px; background-size:16px 48px;}
.designRadio input[type="radio"]:checked + label:before{background-position:0px 0px;}
.designRadio input[type="radio"]:disabled + label:before{background-position:0px -32px;}
.designRadio.agree{display:block; margin-top:15px; text-align:center;}
.designRadio.agree input[type="radio"] + label{margin:2px 30px;}

/* design checkbox */
.designCheck{display:inline-block; margin:2px 0px; vertical-align:middle;}
.designCheck input[type="checkbox"]{position:absolute; opacity:0;}
.designCheck input[type="checkbox"] + label{position:relative; min-height:16px; padding-left:20px; padding-bottom:2px; margin-right:10px; cursor:pointer; line-height:1em;}
.designCheck input[type="checkbox"] + label:before{content:''; display:block; position:absolute; top:0px; left:0px; width:16px; height:16px; background:url(../images/board/sp_check.png) no-repeat 0 -16px; background-size:16px 48px;}
.designCheck.white input[type="checkbox"] + label:before{background:url(../images/board/sp_check_w.png) no-repeat 0 -16px; background-size:16px 48px;}
.designCheck input[type="checkbox"]:checked + label:before{background-position:0px 0px;}
.designCheck input[type="checkbox"]:disabled + label:before{background-position:0px -32px;}

/* design file */
.designFile{position:relative;}
.designFile input[type="file"]{overflow:hidden; position:absolute; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0);}
.designFile label.button{cursor:pointer;}
.designFile.mob input[type="text"]{overflow:hidden; position:absolute; width:1px; height:1px; padding:0; margin:-1px; border:0; clip:rect(0,0,0,0);}
.designFile.mob label{display:none;}
.designFile.mob .designCheck label{display:inline-block;}
.designFile.mob .button.white{position:static; font-size:0.9rem;}
.designFile.mob input[type="file"]{position:static; width:auto; height:auto; padding:inherit; margin:0px; border:inherit; clip:inherit;}

.designCheck.noText input[type="checkbox"] + label,
.designRadio.noText input[type="radio"] + label{margin-right:0px; font-size:0px; vertical-align:middle;}
.designCheck.noText input[type="checkbox"] + label:before,
.designRadio.noText input[type="radio"] + label:before{top:-1px;}

/* datapicker */
.datepicker{font-size:14px;}

@media screen and (min-width:1025px){
	.pdfList li{width:32%; margin-left:2%;}
	.pdfList li:nth-child(3n+1){margin-left:0px;}
}

@media screen and (min-width:481px){
	.bbsView.dl{display:table; table-layout:fixed; width:100%;}
	.bbsView dl{display:table-row;}
	.bbsView dl dt,
	.bbsView dl dd{display:table-cell;}
}

@media screen and (max-width:1199px){
	.bbsView dl.colspan dd{width:calc(100% - 20%);}	
}

@media screen and (max-width:1129px){
	/* .bbsView dl.colspan dd{width:calc(100% - 20% - 1px);} */
}

@media screen and (max-width:1024px){	
	.photoList > li .img{padding-top:70%;}

	.pdfList li{width:48%;}
	.pdfList li:nth-child(2n){float:right;}
	.pdfList li > div > .img ~ *{margin-left:160px;}
	.bbsView div.conts table{width:100% !important;}
	.bbsView div.conts table td,
	.bbsView div.conts table th{width:auto !important;}

	.designCheck input[type="checkbox"] + label:before{background-image:url(../images/board/sp_check@x2.png);}
	.designCheck.white input[type="checkbox"] + label:before{background-image:url(../images/board/sp_check_w@x2.png);}
	.designRadio input[type="radio"] + label:before{background-image:url(../images/board/sp_radio@x2.png);}
	.designRadio.white input[type="radio"] + label:before{background-image:url(../images/board/sp_radio_w@x2.png);}
}

@media screen and (max-width:900px){
	.bbsView *[data-member-form="email"] > *{margin:2px 0px;}
	.bbsView *[data-member-form="email"] > input[type="text"]:nth-of-type(1){display:block; width:100%;}
	.bbsView *[data-member-form="phone"] > span{display:block;}
}

@media screen and (max-width:768px){
	.bbsList col[data-table="number"]{width:70px !important;}
	.bbsList col[data-table="write"]{width:90px !important;}
	.bbsList col[data-table="date"]{width:100px !important;}
	.bbsList col[data-table="category"]{width:110px !important;}
	
	.bbsView *[data-member-form="email"] > select{width:100% !important;}
	.bbsView th[data-view="file"],
	.bbsView th[data-view="date"],
	.bbsView th[data-view="count"]{padding-left:10px;}	
	.bbsView .address,
	.bbsView .id{position:relative;}
	.bbsView .address input#zip,
	.bbsView .id input#id{width:100%; padding-right:110px;}
	.bbsView .address .button,
	.bbsView .id .button{position:absolute; top:15px; right:10px;}
	.bbsView.page th,
	.bbsView.page td{padding:15px 10px;}	
	.bbsView .button{min-width:90px; font-size:0.8rem;}
	
	.search_bbs .btn.reserve{float:none; clear:left;}
	
	.columnList{margin-top:-1.5em; column-width:200px; column-gap:3em; column-count:2;}
	.columnList li > a{margin:1.5em 0;}

	.designFile.mob input[type="file"]{width:100%; font-size:12px;}
}

@media screen and (max-width:640px){
	.bbsList thead{display:none;}
	.bbsList tr{display:block; position:relative; margin-top:10px; border-radius:3px; border:1px solid #eaecf1;}
	.bbsList tr:first-child{margin-top:0px;}
	.bbsList tr:nth-child(2n){background:#f9fafb;}
	.bbsList tbody td{display:block; border-bottom:0px;}
	.bbsList td[data-table="number"]{display:none;}
	.bbsList td[data-table="subject"]{padding:0px; border-bottom:1px dashed #e4e4e4;}
	.bbsList td[data-table="subject"] > a{display:block; padding:10px;}
	.bbsList td[data-table="date"]{position:absolute; right:0px; bottom:0px; width:80px; letter-spacing:-1px;}
	.bbsList td[data-table="write"]{padding-right:110px; text-align:left;}
	.bbsList td[data-table="category"]{border-bottom:1px dashed #e4e4e4; text-align:left; color:#148f77;}
	.bbsList .reply + a{padding-top:5px !important;}
	
	ul.bbsList li{padding:30px 15px;}
	ul.bbsList li .subject{padding-left:115px; padding-right:55px; font-size:0.9rem;}
	ul.bbsList li .date{font-size:1rem;}
	ul.bbsList li .date i{font-size:1.2rem;}
	
	.photoList > li{width:49%;}
	.photoList > li:nth-child(2n){float:right;}
	.photoList > li:nth-child(3n+2){margin-left:0px; margin-right:0px;}		
	
	.blogList li{padding:15px 0;}
	.blogList li > a{position:relative; min-height:67px;}
	.blogList li .img{float:none; width:120px; height:100px; position:absolute; left:0px; top:3px;}
	.blogList li .img ~ em,
	.blogList li .img ~ p,
	.blogList li .img ~ i{margin-left:140px;}
	
	.pdfList li{float:none !important; width:100%;}
	
	.search_bbs .search,
	.search_bbs .btn{float:none; text-align:center;}
	.search_bbs .btn{margin-top:10px;}
	
	.bbsView col[data-view="th"]{width:80px !important;}
	.bbsView col[data-view="td"]{width:auto !important;}
	.bbsView th[data-view="count"] + td{width:70px !important;}
	.bbsView col[data-write="th"]{width:120px !important;}
	.bbsView col[data-write="td"]{width:auto !important;}
	.bbsView input[type="text"],
	.bbsView input[type="file"],
	.bbsView input[type="password"]{width:100% !important;}
	.bbsView input[data-form-type="datepicker"],
	input.datepicker,
	.bbsView input[type="text"].datepicker{width:105px !important;}
	.bbsView td.tel > input[type="text"],
	.bbsView td.tel > select,
	.bbsView *[data-member-form="phone"] > input[type="text"],
	.bbsView *[data-member-form="phone"] > select{display:inline-block; width:30% !important;}
	.bbsView td.tel > span{display:inline-block;}
	.bbsView td.mail > input[type="text"]{margin:2px 0px;}
	.bbsView td.mail > select{width:100% !important;}
	.bbsView .designFile input[type="file"]{padding-right:110px;}
	.bbsView .designFile .button{position:absolute; top:0px; right:0px;}
	.designFile.mob input[type="file"]{padding-right:0px;}
	
	.comment_area .write textarea{padding:10px 15px;}
	.comment_area .write .input{padding:7px 15px;}
	.comment_area .write .input >  span{float:none !important; display:block; margin:2px 0px;}
	.comment_area .write label{min-width:80px; margin-right:0px;}
	.comment_area .write input[type="text"],
	.comment_area .write input[type="password"]{width:calc(100% - 90px);}
	.comment_area .list .btn{position:static; margin-top:10px;}
	
	.secret_area input[type="password"]{display:block; margin:0 auto 10px;}
}

@media screen and (max-width:480px){
	.bbsView dl{position:relative;}
	.bbsView dl:after{content:''; display:block; clear:both;}
	.bbsView dl:before{content:''; display:block; position:absolute; top:0px; left:0px; width:130px; height:100%; background:#f9fafb;}
	.bbsView dl dt,
	.bbsView dl dd{word-break:break-all;}
	.bbsView dl dt{clear:left; float:left; position:relative; z-index:2; width:130px !important; border:0px !important; box-shadow:none;}
	.bbsView dl dt:after{content:''; display:inline-block; height:100%; vertical-align:middle;}
	.bbsView dl dd{position:relative; width:100% !important; padding:15px 0 5px 145px;}
	.bbsView dl dd:after{content:''; display:table; clear:both;}
	.bbsView dl.col02 dt:nth-of-type(2){border-left-width:0px;}
	.bbsView dl.colspan dd{position:static;}
	.bbsView dl:last-child dt,
	.bbsView dl:last-child dd{border-bottom:1px solid #eaecf1;}
	.bbsView dl:not(.col02){position:relative;}
	.bbsView dl:not(.col02) dt{position:absolute; left:0px; top:0px; height:100%;}

	.bbsView col{display:none;}
	.bbsView > tbody > tr > th,
	.bbsView > tbody > tr > td{display:block; width:100%; box-sizing:border-box; padding:10px;}
	.bbsView th[data-view="count"] + td{width:100% !important;}
	.bbsView th[data-view="file"] + td{border-top-width:0px; padding-left:20px;}
	.bbsView.page th,
	.bbsView.page td{padding:10px;}
	.bbsView.page tr:first-child td{border-top-width:0px; border-bottom:1px solid #eaecf1;}

	ul.bbsList li .date:before{right:-5px;}
	ul.bbsList li .subject{padding-left:100px;}
	
	.comment_area .comment_password input[type="password"]{display:block; width:200px; margin:0 auto 5px;}
	
	.blogList li p{overflow:hidden; height:65px; font-size:14px;}
	
	.columnList{margin-top:-2em;}
	.columnList li > a{margin:2em 0;}
}

@media screen and (max-width:460px){
	/*
	.bbsView td.tel > input[type="text"],
	.bbsView *[data-member-form="phone"] > input[type="text"],
	.bbsView *[data-member-form="phone"] > select,
	.bbsView td.tel > select{display:block; width:100% !important; margin:2px 0px;}
	*/
	.bbsView td.tel > span{display:none;}
	.bbsView .address .button,
	.bbsView .id .button{top:10px;}	
	.designRadio.agree input[type="radio"] + label{margin:2px 10px;}
}

@media screen and (max-width:380px){
	.search_bbs .search{position:relative;}
	.search_bbs .search select{position:absolute; left:0px; top:0px; width:70px;}
	.search_bbs .search .button{position:absolute; right:0px; top:0px;}
	.search_bbs .search input[type="text"]{width:100%; padding-left:80px; padding-right:70px;}

	.photoList > li a > *:not(.img){padding-left:10px; padding-right:10px;}
}

@media screen and (max-width:360px){	
	.bbsView th[data-view="date"] + td,
	.bbsView th[data-view="count"] + td{font-size:14px;}
}

@media screen and (max-width:340px){
	ul.bbsList li .date{left:0px;}
	ul.bbsList li .subject{padding-left:90px; padding-right:0px;}
	ul.bbsList li .more{display:none;}
	
	.photoList > li{float:none !important; width:100%;}	
	.photoList > li .img{padding-top:60%;}
}